/* .main-container {
    color: white;
    height: 90%;
}

.main-img{
    height: 70vh;
    width: 50%;
    border-radius: 1rem;
}*/

/* .img-container {
    display: flex;
    height: 90%;
    justify-content: space-around;
}

.main-description {
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 1;
    justify-content: center;
    align-self: center;
    background: rgba(255, 225, 0, .12);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    width: 40%;
} */

/* .img-container .main-description {
    display: none;
} */

/* .main-date {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-shrink: 1;
    color: powderblue;
} */