html {
  background: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
}
.App {
  text-align: center;
  border-radius: 1rem;
  height: 90vh;
  width: 90vw;
  margin: 5vh auto;
  background: rgba(0, 0, 0, .5)
}



